<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>My presentation</title>

        <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
        <meta name="author" content="Hakim El Hattab">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="/static/revealjs/css/reveal.css">
        <link rel="stylesheet" href="/static/revealjs/css/theme/beige.css" id="theme">

        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="/static/revealjs/lib/css/zenburn.css">
    </head>

    <body>
        <div class="reveal">
            <div class="slides"></div>
        </div>

        <script src="/static/revealjs/lib/js/head.min.js"></script>
        <script src="/static/revealjs/js/reveal.js"></script>
        <script src="/static/jquery/jquery-3.3.1.min.js"></script>
        <script src="/static/js/slides.js"></script>
    </body>
</html>
